[uwsgi]
uid=nginx
gid=nginx
chdir=/home/ckan/venv/ckan2/bin
module=ckan_wsgi:application
master=True
socket=/var/local/ckan/uwsgi/uwsgi.sock
pidfile=/var/local/ckan/uwsgi/uwsgi.pid
vacuum=True
max-requests=5000
processes=10
home=/home/ckan/venv/ckan2
daemonize=/var/log/uwsgi/ckan.log
