{% ckan_extends %}

{% block home_image %}
    <section class="featured media-overlay">
        <iframe width="408" height="238" src="http://www.youtube.com/embed/jzzP6EmtkiE" frameborder="0" allowfullscreen></iframe>
    </section>
{% endblock %}

{% block home_secondary_content %}
    {{ super() }}
    <div class="module module-shallow module-narrow module-dark info box">
        <div style="padding:0px 15px 10px 15px;">
            <h3 class="heading">{{ _("Applications") }}</h3>
            <p>{{ _("Add and share your own applications using open data") }}.</p>
            <a class="btn" href="http://datos.gub.uy/wps/wcm/connect/PEU/PEU/Subhomes/enviar-aplicacion">{{ _("Add application") }}</a>&nbsp;
            <a class="btn" href="/related?type=application">{{ _("Show applications") }}</a>
        </div>
   </div>
{% endblock %}
