{% ckan_extends %}

{% block home_primary_content %}{% endblock %}

{% block home_image %}
    <section class="featured media-overlay">
        <img src="/images/grafico_datos.png"/>
    </section>
{% endblock %}

{% block home_secondary_content %}
    {{ super() }}
    <div class="module module-shallow module-narrow module-dark info box">
        <div style="padding:0px 15px 10px 15px;">
            <h3 class="heading">{{ _("Applications") }}</h3>
            <p>{{ _("Add and share your own applications using open data") }}.</p>
            <a class="btn" href="http://datos.gub.uy/wps/wcm/connect/PEU/PEU/Subhomes/enviar-aplicacion">{{ _("Add application") }}</a>&nbsp;
            <a class="btn" href="/related?type=application">{{ _("Show applications") }}</a>
        </div>
   </div>
{% endblock %}

{% block secondary_content %}
  <div class="row group-listing">
    {% for group in c.group_package_stuff[:1] %}
      <div class="span6">
        <div class="box">
          {% snippet 'snippets/group_item.html', group=group.group_dict, truncate=50, truncate_title=35 %}
        </div>
      </div>
    {% endfor %}
      <div class="span6">
        <div class="box">
          {% snippet 'snippets/most_viewed.html', truncate=50, truncate_title=35 %}
        </div>
      </div>
  </div>
{% endblock %}
