{% ckan_extends %}

{% block package_basic_fields_custom %}
  <div class="control-group control-medium">
    <label for="field-update_frequency" class="control-label">{{ _('Update Frequency') }}</label>
    <div class="controls">
      <select id="field-update_frequency" name="update_frequency" placeholder="update frequency" style="width:180px;">
        <option/>
        {% for value, name in [(1, 'Diario'), (7, 'Semanal'), (15, 'Quincenal'), (30, 'Mensual'), (60, 'Bimestral'), (90, 'Trimestral'), (182, 'Semestral'), (365, 'Anual'), (1826, 'Quinquenal')] %}
          <option value="{{ value }}"{% if data.update_frequency == value|string %} selected="selected"{% endif %}>{% trans option_name=name %}{{ option_name }}{% endtrans %}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ form.input('spatial_ref_system', label=_('Spatial Ref. System'), id='field-spatial_ref_system', placeholder=_('eg. SIRGAS-ROU98'), value=data.spatial_ref_system, error=errors.spatial_ref_system, classes=['control-medium']) }}
  {{ form.input('spatial_coverage', label=_('Spatial Coverage'), id='field-spatial_coverage', placeholder=_('eg. Uruguay'), value=data.spatial_coverage, error=errors.spatial_coverage, classes=['control-medium']) }}
  {{ form.input('temporal_coverage', label=_('Temporal Coverage'), id='field-temporal_coverage', placeholder=_('eg. 2013'), value=data.temporal_coverage, error=errors.temporal_coverage, classes=['control-medium']) }}
{% endblock %}
