body {
  background: none #F6F6F6;
}
.site-footer {
  background-color: #DBDBDB;
  background-image: -moz-linear-gradient(center top , #DBDBDB, #FFFFFF);
  border-top: 2px solid #CCCCCC;
  color: #333333;
  label, small {
    color: #333333;
  }
}
a,
.site-footer a {
  color: #095399;
}
a:hover, a:focus {
  color: #1D67AD;
}
.account-masthead {
  background-color: #095399;
  background-image: -moz-linear-gradient(center top, #056BAC, #013E89);
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 0 2px 15px #DDDDDD;
  min-height: 42px;
  .account ul li {
    border-left: none;
    a:hover {
      background-color: transparent;
      text-decoration: bold;
    }
  }
}
.masthead {
  background-color: #FFFFFF;
  border: 0px solid #CECECE;
  box-shadow: 1px 1px 2px #CCCCCC;
  color: #000000;
  height: 40px;
  margin-bottom: 20px;
  padding: 12px 20px;
  .debug { color: #000000; }
  .nav li a { color: #777777;
    img {
      padding-top: 5px;
    }
  }
}
.homepage.layout-1 .row1 .col2 {
    bottom: -20px;
}
.homepage .search-giant input,
.masthead input[type="text"] {
  border-color: #CCCCCC !important;
  margin: -4px -7px;
}
a.tag:hover,
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
  color: #FFFFFF;
  background-color: #095399;
}
.hero,
.homepage { background: none transparent !important;
  .module-search { color: #444444 !important;
    .module-content { background-color: transparent !important; }
  }
  .tags { background-color: transparent !important; }
}
.hero-secondary {
    top: 0;
}
.btn-primary { background-image: linear-gradient(to bottom, #095399, #095399); }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #095399;
  *background-color: #095399;
}
@navItemActiveBackgroundColor: #095399;
@pillBackgroundColor: darken(@navItemActiveBackgroundColor, 10%);
.pill { background-color: @pillBackgroundColor;
  a.remove {
    &:hover, &:focus {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}
.nav-item.active > a { background-color: #6f6f6f;
  &:hover { background-color: #6f6f6f; }
  &:before { background-image: url("/images/nav-active.png"); }
}
.actions {
  right: 0px;
  top: -45px;
}
.navbar .nav li a {
  padding: 8px;
  margin-top: -3px;
}