{% ckan_extends %}

{% block footer_links %}
    <li><a href="http://datos.gub.uy/wps/wcm/connect/7fe4b346-b24c-4889-af2f-073897a1e97d/terminos-catalogodatos.pdf?MOD=AJPERES&ContentCache=NONE&CACHEID=7fe4b346-b24c-4889-af2f-073897a1e97d">{{ _('Terms of use') }} (.pdf)</a></li>
    <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
{% endblock %}
{% block footer_attribution %}
    <p><img alt="AGESIC" src="/images/agesic-logo.png"></p>
{% endblock %}
